{% extends "layout.html" %}
  {% block content %}
  
  <h1 align="center" style="color:black">Data Mining Term Project - Fall 2019 </h1>
  
  
  <pre> 
		Phase 1:
				<b>* A search engine using TF-IDF.</b> 
				<a href="search" ><b><i>Click to search</i></b></a>
	   
		Phase 2: 
				<b>* Enter a review for classification</b>
				<a href="classify" > <b><i>Click to classify</i></b></a>
	   
		Phase 3:
				<b>* Create an image caption search with the help of MS-Coco dataset.</b>
				<a href="image"> <b><i>Search image with caption</i></b></a>
  </pre>	   
  {% endblock %}
  
  
  
  
  
  
  
  
  
  