{% extends "layout.html" %}
  {% block content %}
    <div class="s01">
      <form action = "/class_result" method = "POST">
       <fieldset>
          <legend id="logo" align="center"></legend>
          <legend id ="logo" align="center"><h1>PharmEazy - Take a chill pill, but take the right one!</h1></legend>
        </fieldset>
		<br>
		<br>
        <div class="inner-form">
          <div align = "center" class="input-field first-wrap">
            <input align="center" name="review" type="text" placeholder="Enter review..." />
          </div>
          <div align="center" class="input-field third-wrap">
            <button class="btn-search" type="submit" value="Review" ></i> Classify</button>
          </div>
        </div>
      </form>
    </div>
	
	
  {% endblock %}

